################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DataStructures_AndrewHorn/.vs/DataStructures/v15
/DataStructures_AndrewHorn/Freecell/x64
/DataStructures_AndrewHorn/Freecell/Debug
/DataStructures_AndrewHorn/Freecell/Release
/DataStructures_AndrewHorn/Debug
/DataStructures_AndrewHorn/Main
/DataStructures_AndrewHorn/Release
/DataStructures_AndrewHorn/DataStructures/x64
/DataStructures_AndrewHorn/DataStructures/Debug
/DataStructures_AndrewHorn/DataStructures/Release
/DataStructures_AndrewHorn/Minesweeper/x64
*.tlog
*.obj
*.pdb
*.idb
*.pch
*.log
*.enc
